spring:
  application:
    name: Neoike
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/neoike
    username: neoike
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          auto: create

server:
  port: 8080

logging:
  level:
    org:
      hibernate:
        SQL: debug
